#grid-container {
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  display: grid;
  width: 960px;
  height: 960px;
}

.grid-cell {
  border: 1px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}
